@font-face {
    font-family: 'tiredofcourier-italic';
    src: url('../fonts/tiredofcourier-italic-webfont.eot');
    src: url('../fonts/tiredofcourier-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tiredofcourier-italic-webfont.woff2') format('woff2'),
         url('../fonts/tiredofcourier-italic-webfont.woff') format('woff'),
         url('../fonts/tiredofcourier-italic-webfont.ttf') format('truetype'),
         url('../fonts/tiredofcourier-italic-webfont.svg#../fonts/tiredofcourier-italic-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-book';
    src: url('../fonts/futura-book-webfont.eot');
    src: url('../fonts/futura-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-book-webfont.woff2') format('woff2'),
         url('../fonts/futura-book-webfont.woff') format('woff'),
         url('../fonts/futura-book-webfont.ttf') format('truetype'),
         url('../fonts/futura-book-webfont.svg#futura-book-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}