html {
}

body { 
	font-family: "Palatino", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	background-color: #FFF;
	margin: 0px;
}

a.img-container:hover + .caption {
	visibility: visible;
}


/* link styles */
a:link,
a:visited {
	text-decoration: none;
	color: #F30;
}
a.r:hover {
	color: #FB3139;
}
a.b:hover {
	color: #5386F0;
}
a.y:hover {
	color: #FED71B;
}
a:active {
}

p {
	margin-top: 0px;
}

#reports {
	/*position: fixed;*/
    bottom: 0px;
    right: 0px;
}

#reports-alt {
	position: static;
	overflow: auto;
}

.report-container {
	display: inline-block;
	float: right;
	padding-right: 20px;
	padding-bottom: 20px;
}

.report-img {
	width: 200px;
	vertical-align: top;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

a:hover > .report-img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

/* header */
header {
	/*position: fixed;*/
	max-width: 40vw;
	padding: 20px;
	/* cursor: pointer; */
	font-size: 48px;
	line-height: 48px;
}

#ticker-display,
#event-display {
	color: #0000dd;
	width: 40vw;
}

#ticker-display {
	position: absolute;
}

/* classes */
.now {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 17px;
	z-index: 100;
}

.futura-book {
	font-family: futura-book;
}

/* ids */
#year {
	/*display: none;*/
	position: fixed;
	top: 0px;
	font-size: 200px;
	line-height: 200px;
	padding: 20px;
	font-family: futura-book;
}

#main {
	position: relative;
	width: 60%;
	margin-top: 240px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	/* background-color: #FFF; */	
	z-index: 100;
}
.hidden {
	visibility: hidden;
	/* display: none; */
}

.invisible {
	visibility: hidden;
}
#dot {
	color: red;
}

/* animations */
.blink {
	animation: blink 1s steps(2, start) infinite;
	-webkit-animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

/* utilities */
.h-centre {
	left: 50%;
	transform: translateX(-50%);
}

/* mobile */
@media screen and (max-width: 568px) {
	header {
		position: static;
		max-width: 100vw;
	}
	
	#year {
		font-size: 100px;
		line-height: 100px;
	}
	
	#main {
		margin-top: 140px;
		width: 80%;
	}
	
	#ticker-display {
		width: 100vw;
		box-sizing: border-box;
		left: 0px;
	    padding: 0px 20px;
	}

	#reports {
		position: static;
		bottom: 0px;
		right: 0px;
	}
}